models/shapechange/HY_HydroFeature.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:hyf="http://opengeospatial.org/def/OGC/schemas/HY_HydroFeature" elementFormDefault="qualified" targetNamespace="http://opengeospatial.org/def/OGC/schemas/HY_HydroFeature" version="">
  <annotation>
    <documentation>The HydroFeature module (Figure 21) provides the core concepts of a named hydrologic feature in the Named Feature, of a hydrologic complex in which the union of catchment and its common outlet is realized in several ways by a collection of hydrologic features, and of a river referencing system which allows placement of an arbitrary feature ‘along a river’ using linear referencing along a one-dimensional topological, flowpath realization. 

The HY_HydroFeature feature type is defined as hydrology-specific instance of the General Feature metaclass (as defined in the OGC General Feature Model, GFM), whose identity needs to be maintained and tracked through a processing chain from measurement to distribution of hydrologic information.
As an instance of the General Feature metaclass a feature type is identified by a unique identifier and typical properties. Typically, a hydrologic feature is additionally identified through names in common usage and through hydrologically significant characteristics. 

The HY_HydroFeature feature type is specialized into more specific feature types (Figure 23), which specify additional properties and represent particular hydrologic phenomena.Providing a standard terminology for the typical relationships between hydrologic features allows the hydrosphere to be expressed in a consistent way across multiple data products, regardless of various spatial or temporal representations.

The definitions of HydroFeature feature types are rooted in the definitions documented in the WMO/UNESCO Glossary of Hydrology. They are applied regardless of their application context in respect to the Earth's surface. For the purpose of testing the applicability of the HY_Features conceptual model in the context of surface water hydrology, the definitions in this standard refer to surface water hydrology. A conceptual model capturing the specifics of features associated with the groundwater domain is developed with reference to the OGC WaterML 2: Part 4 – GroundwaterML2 standard.</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="HY_CartographicRealization" substitutionGroup="hyf:HY_CatchmentRealization" type="hyf:HY_CartographicRealizationType">
    <annotation>
      <documentation>The HY_CartographicRealization feature type realizes a catchment as set of separate cartographic layers or maps, displaying a network of hydrologic features which may be connected at the representation level, or not. 

Specializing HY_CatchmentRealization, it inherits from generalization the &lt;i&gt;shape&lt;/i&gt; attribute and the &lt;i&gt;realizedCatchment&lt;/i&gt; association.</documentation>
    </annotation>
  </element>
  <complexType name="HY_CartographicRealizationType">
    <complexContent>
      <extension base="hyf:HY_CatchmentRealizationType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HY_CartographicRealizationPropertyType">
    <sequence minOccurs="0">
      <element ref="hyf:HY_CartographicRealization"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="HY_Catchment" substitutionGroup="hyf:HY_HydroFeature" type="hyf:HY_CatchmentType">
    <annotation>
      <documentation>The Catchment model conceptualizes the hydrologic determination of a catchment through inflow and outflow hydro nexus features with the role of getting flow from a contributing catchment, or providing inflow to a receiving catchment (Figure 25 and Figure 26). Conceptually, each catchment has an outflow hydro nexus, and any hydro nexus has a corresponding catchment, even if catchment and/or hydro nexus may not be present in a particular application. A catchment interacts with upper and lower catchments via associated hydro nexuses, and ultimately contributes flow to the hydro nexus of a containing catchment. The catchment should be understood as the logical link between two hydro nexuses.

The HY_Catchment feature type captures the union of catchment and hydro nexus, and the multiple realizations of the holistic catchment concept. These realizations include both topological realizations, as well as their geometric representation. HY_Catchment may be further specialized with respect to catchment interaction. 

The HY_Catchment feature type (Figure 26) specializes the general HY_HydroFeature type. Through generalization, HY_Catchment inherits the &lt;i&gt;name&lt;/i&gt; property. It carries a &lt;i&gt;code&lt;/i&gt; attribute and the associations: &lt;i&gt;outflow&lt;/i&gt;, &lt;i&gt;inflow&lt;/i&gt;, &lt;i&gt;containingCatchment&lt;/i&gt;, &lt;i&gt;containedCatchment&lt;/i&gt;, &lt;i&gt;conjointCatchment&lt;/i&gt;, &lt;i&gt;upperCatchment&lt;/i&gt;, &lt;i&gt;lowerCatchment&lt;/i&gt;, &lt;i&gt;catchmentRealization&lt;/i&gt;.</documentation>
    </annotation>
  </element>
  <complexType name="HY_CatchmentType">
    <complexContent>
      <extension base="hyf:HY_HydroFeatureType">
        <sequence>
          <element minOccurs="0" name="inflow" type="hyf:HY_HydroNexusPropertyType">
            <annotation>
              <documentation>hydro nexus in terms of an inflow to the receiving catchment. For a dendritic network of catchments, the outflow of a contributing catchment coincides with the inflow to a receiving catchment. This supports description of upstream-downstream relationships between catchments.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">hyf:receivingCatchment</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="outflow" type="hyf:HY_HydroNexusPropertyType">
            <annotation>
              <documentation>hydro nexus in terms of an outflow of the contributing catchment. For a dendritic network of catchments, the outflow of a contributing catchment coincides with the inflow to a receiving catchment. This supports description of upstream-downstream relationships between catchments.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">hyf:contributingCatchment</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="containedCatchment" type="hyf:HY_CatchmentPropertyType">
            <annotation>
              <documentation>catchment nested in a containing catchment.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">hyf:containingCatchment</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="containingCatchment" type="hyf:HY_CatchmentPropertyType">
            <annotation>
              <documentation>catchment nesting contained catchments.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">hyf:containedCatchment</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="catchmentRealization" type="hyf:HY_CatchmentRealizationPropertyType">
            <annotation>
              <documentation>topological or geographic feature which realizes the logical catchment.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">hyf:realizedCatchment</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lowerCatchment" type="hyf:HY_CatchmentPropertyType">
            <annotation>
              <documentation>catchment located immediately below of the catchment,</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">hyf:upperCatchment</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="upperCatchment" type="hyf:HY_CatchmentPropertyType">
            <annotation>
              <documentation>catchment located immediately above of the catchment,</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">hyf:lowerCatchment</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="conjointCatchment" type="hyf:HY_CatchmentPropertyType">
            <annotation>
              <documentation>catchment that interacts with the catchment across an internal boundary line.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="code" type="gml:CodeWithAuthorityType">
            <annotation>
              <documentation>unique identifier to the catchment in given context. The code attribute should be implemented using a controlled classification or coding system. Example: WMO Basin Codes.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HY_CatchmentPropertyType">
    <sequence minOccurs="0">
      <element ref="hyf:HY_Catchment"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="HY_CatchmentAggregate" substitutionGroup="hyf:HY_Catchment" type="hyf:HY_CatchmentAggregateType">
    <annotation>
      <documentation>The HY_CatchmentAggregate feature type (Figure 30) specializes the HY_Catchment type as a set of non-overlapping dendritic and interior catchments arranged in an encompassing catchment. This can be used to describe multiple inflows into a catchment aggregate through several hydrologically discrete sub-catchments each with a single inflow, and contributing to a joined outflow of the catchment aggregate, including the 'nillable' outflow of interior catchments. Nillable is meant here to signify that the hydro nexus logically exists in the form of flow to the subsurface or atmosphere but is unknown in a given implementation. 

Being a special type of the HY_Catchment, the catchment aggregate may be part of a containing catchment at the next higher level of hierarchy, which consists of similar-scale neighboring catchments. The catchment aggregate does not necessarily imply a series of nested containing catchments. It primarily allows navigation to the 'highest' level system (total drainage basin) as typically used for reporting purposes.

HY_CatchmentAggregate inherits through generalization the &lt;i&gt;outflow&lt;/i&gt;, &lt;i&gt;inflow&lt;/i&gt;, &lt;i&gt;containingCatchment&lt;/i&gt;, &lt;i&gt;containedCatchment&lt;/i&gt;, &lt;i&gt;conjointCatchment&lt;/i&gt;, &lt;i&gt;upperCatchment&lt;/i&gt;, &lt;i&gt;lowerCatchment&lt;/i&gt;, and &lt;i&gt;catchmentRealization&lt;/i&gt; properties, and has &lt;i&gt;exorheicDrainage&lt;/i&gt; and &lt;i&gt;endorheicDrainage &lt;/i&gt;associations.</documentation>
    </annotation>
  </element>
  <complexType name="HY_CatchmentAggregateType">
    <complexContent>
      <extension base="hyf:HY_CatchmentType">
        <sequence>
          <element maxOccurs="unbounded" name="exorheicDrainage">
            <annotation>
              <documentation>should be used to identify an exorheic-drained catchment which is not, but may be temporarily connected to enveloping catchments.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="hyf:HY_DendriticCatchment"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="endorheicDrainage">
            <annotation>
              <documentation>should be used to identify an endorheic-drained catchment, which is permanently connected to the enveloping aggregate.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="hyf:HY_InteriorCatchment"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HY_CatchmentAggregatePropertyType">
    <sequence minOccurs="0">
      <element ref="hyf:HY_CatchmentAggregate"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="HY_CatchmentArea" substitutionGroup="hyf:HY_CatchmentRealization" type="hyf:HY_CatchmentAreaType">
    <annotation>
      <documentation>The &lt;b&gt;HY_CatchmentArea&lt;/b&gt; feature type realizes a catchment specifically as a catchment area connecting the inflow and outflow of the catchment it realizes. 

HY_CatchmentArea specializes HY_CatchmentRealization with respect to an implied areal geometric representation. Topologically, the catchment area connecting the inflow and outflow of the catchment is a face bounded inwards by an inflow edge and outwards by an outflow edge. Hydrologically, catchment area refers to the area having a common outlet for its runoff. 

Through generalization, HY_CatchmentArea inherits the &lt;i&gt;shape&lt;/i&gt; and the &lt;i&gt;realizedCatchment&lt;/i&gt; properties. The optional &lt;i&gt;shape&lt;/i&gt; of the catchment may be implemented as a surface.</documentation>
    </annotation>
  </element>
  <complexType name="HY_CatchmentAreaType">
    <complexContent>
      <extension base="hyf:HY_CatchmentRealizationType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HY_CatchmentAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="hyf:HY_CatchmentArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="HY_CatchmentDivide" substitutionGroup="hyf:HY_CatchmentRealization" type="hyf:HY_CatchmentDivideType">
    <annotation>
      <documentation>The &lt;b&gt;HY_CatchmentDivide&lt;/b&gt; feature type realizes a catchment specifically as catchment boundary connecting the inflow and outflow of the catchment it realizes, whereby inflow and outflow may overlay.

Implying a linear geometric representation, a catchment boundary is topologically understood as an edge bounded by inflow node and outflow nodes, and corresponding to left-bank and right-bank catchment faces inside of the boundary. Hydrologically, the boundary refers to the summit line separating adjacent catchments. 

Through generalization, HY_CatchmentDivide inherits the &lt;i&gt;shape&lt;/i&gt; and the &lt;i&gt;realizedCatchment&lt;/i&gt; properties. The &lt;i&gt;shape&lt;/i&gt; of the catchment divide may be implemented as a composition of succeeding curves or a polygon ring.</documentation>
    </annotation>
  </element>
  <complexType name="HY_CatchmentDivideType">
    <complexContent>
      <extension base="hyf:HY_CatchmentRealizationType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HY_CatchmentDividePropertyType">
    <sequence minOccurs="0">
      <element ref="hyf:HY_CatchmentDivide"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="HY_CatchmentRealization" substitutionGroup="gml:AbstractFeature" type="hyf:HY_CatchmentRealizationType">
    <annotation>
      <documentation>The HY_CatchmentRealization feature type (Figure 34) is based on the idea that there are multiple hydrology-specific perspectives of the holistic catchment concept that are used to describe a catchment as a unit of study shared across sub-domains and studies. 

A given catchment realization exists within a hydrologic complex in that, if a catchment realization exists, it exists in the same hydrologic complex as the catchment it realizes. In this way, any realization of a catchment has the same hydrologic determination of the catchment it realizes. If a catchment is connected with other catchments via inflow and/or outflow hydro nexuses, its realizations are also connected. A realization of the logical catchment is always of higher topological dimension than the realization of the corresponding hydro nexus topological boundary. For example, a linear flowpath realizing a catchment may be understood as an edge between inflow and outflow nodes; the areal realization of a catchment as a face bounded by linear inflow and outflow.

The catchment realization features defined in this standard refer to objects on the land surface for the purpose of surface water hydrology. In other contexts, other types of catchment realization may exist. Catchment realizations that do not conform to those defined in this standard, for instance realizations in 3- or 4-dimensional perspectives, may be implemented using the general HY_CatchmentRealization type. HY_CatchmentRealization carries a &lt;i&gt;shape &lt;/i&gt;attribute&lt;i&gt; &lt;/i&gt;and as a &lt;i&gt;realizedCatchment &lt;/i&gt;association.</documentation>
    </annotation>
  </element>
  <complexType name="HY_CatchmentRealizationType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="shape" type="gml:GeometryPropertyType">
            <annotation>
              <documentation>geometric representation of a particular catchment realization.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="realizedCatchment" type="hyf:HY_CatchmentPropertyType">
            <annotation>
              <documentation>identifies the one and only one catchment that is realized by a particular feature. Referencing the hydrologic complex containing the catchment and all of its realizations, supports a catchment's existence to be recognized and linked to multiple realizations without the complexity and full detail of a scientific model. By referencing the catchment topology, topological relationships can be established and common identifiers assigned.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">hyf:catchmentRealization</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HY_CatchmentRealizationPropertyType">
    <sequence minOccurs="0">
      <element ref="hyf:HY_CatchmentRealization"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="HY_DendriticCatchment" substitutionGroup="hyf:HY_Catchment" type="hyf:HY_DendriticCatchmentType">
    <annotation>
      <documentation>The HY_DendriticCatchment feature type (Figure 31) specializes the general HY_Catchment class as a catchment which is determined by a single common downstream catchment. It represents the catchment as the topological link between an inflow and an outflow. This allows catchments to be connected in a dendritic network by upstream-downstream relationships without knowing the complex hydrology between inflow and outflow. This concept requires a stable identifier purposefully assigned to the catchment and that catchments are delineated as a simple tree hierarchy. 

HY_DendriticCatchment inherits from generalization the &lt;i&gt;code&lt;/i&gt;, &lt;i&gt;outflow&lt;/i&gt;, &lt;i&gt;inflow&lt;/i&gt;, &lt;i&gt;containingCatchment&lt;/i&gt;, &lt;i&gt;containedCatchment&lt;/i&gt;, &lt;i&gt;conjointCatchment&lt;/i&gt;, &lt;i&gt;upperCatchment&lt;/i&gt;, &lt;i&gt;lowerCatchment&lt;/i&gt;, and &lt;i&gt;catchmentRealization&lt;/i&gt; properties, and has an &lt;i&gt;encompassingCatchment&lt;/i&gt; association. The dendritic nature of this feature is enforced through &lt;i&gt;single-outflow, single-receiving-catchment &lt;/i&gt;and&lt;i&gt; single-lower-catchment&lt;/i&gt; constraints.</documentation>
    </annotation>
  </element>
  <complexType name="HY_DendriticCatchmentType">
    <complexContent>
      <extension base="hyf:HY_CatchmentType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HY_DendriticCatchmentPropertyType">
    <sequence minOccurs="0">
      <element ref="hyf:HY_DendriticCatchment"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="HY_DistanceDescriptionType">
    <annotation>
      <documentation>list of general terms commonly used in hydrology to describe a spatial relationship between two locations.

If required, an implementation should use terms from this code list, defined specifically to conform to a terminology common in the hydrology domain. Note that alternative code lists may be used but should be related to the terms in but should be related to the terms in this code list using an appropriate formalism.</documentation>
    </annotation>
    <union memberTypes="hyf:HY_DistanceDescriptionEnumerationType hyf:HY_DistanceDescriptionOtherType"/>
  </simpleType>
  <simpleType name="HY_DistanceDescriptionEnumerationType">
    <annotation>
      <documentation>list of general terms commonly used in hydrology to describe a spatial relationship between two locations.

If required, an implementation should use terms from this code list, defined specifically to conform to a terminology common in the hydrology domain. Note that alternative code lists may be used but should be related to the terms in but should be related to the terms in this code list using an appropriate formalism.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="at">
        <annotation>
          <documentation>located at the (reference) location</documentation>
        </annotation>
      </enumeration>
      <enumeration value="between">
        <annotation>
          <documentation>located between two (reference) locations</documentation>
        </annotation>
      </enumeration>
      <enumeration value="downstream">
        <annotation>
          <documentation>located downstream of the (reference) location, e.g. in the direction of the current in a river or stream.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="left">
        <annotation>
          <documentation>located left-hand of the (reference) location when facing downstream.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="middle">
        <annotation>
          <documentation>located in the middle between two (reference) locations.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nearby">
        <annotation>
          <documentation>located in a short distance to the (reference) location.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="right">
        <annotation>
          <documentation>located right-hand of the (reference) location when facing downstream.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="upstream">
        <annotation>
          <documentation>located upstream of the (reference) location, e.g. in the direction towards the source of a stream.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HY_DistanceDescriptionOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="HY_DistanceFromReferent" substitutionGroup="gml:AbstractObject" type="hyf:HY_DistanceFromReferentType">
    <annotation>
      <documentation>The HY_DistanceFromReferent data type provides the distance from a located referent as an absolute or interpolative value, including simple statements on accuracy and precision of the measured position.
&lt;i&gt;
&lt;/i&gt;</documentation>
    </annotation>
  </element>
  <complexType name="HY_DistanceFromReferentType">
    <sequence>
      <element minOccurs="0" name="absolute" type="gml:LengthType">
        <annotation>
          <documentation>geometric expression of the distance from a located referent. An implementation may use the types described in ISO 19103: Conceptual Schema.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="interpolative" type="double">
        <annotation>
          <documentation>interpolative expression (percentage) of the distance from a located referent. An implementation may use the types described in ISO 19103: Conceptual Schema.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="accuracyStatement" type="string">
        <annotation>
          <documentation>simple statement whether the distance value agrees with the value accepted as being true.  This statement assumes that all known corrections have been applied. An implementation may use the types described in ISO 19103: Conceptual Schema.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="precisionStatement" type="gml:LengthType">
        <annotation>
          <documentation>simple statement on the smallest unit of division on the scale of measurement. An implementation may use the types described in ISO 19103: Conceptual Schema.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="HY_DistanceFromReferentPropertyType">
    <sequence>
      <element ref="hyf:HY_DistanceFromReferent"/>
    </sequence>
  </complexType>
  <element name="HY_FlowPath" substitutionGroup="hyf:HY_CatchmentRealization" type="hyf:HY_FlowPathType">
    <annotation>
      <documentation>The &lt;b&gt;HY_Flowpath&lt;/b&gt; feature type realizes a catchment specifically as a path connecting the inflow and outflow of the catchment it realizes.

HY_Flowpath specializes HY_CatchmentRealization with respect to an implied linear geometric representation including a straight or curved line. Topologically, the flowpath connects the inflow and outflow of the catchment, and is understood as an edge bounded by an inflow node and an outflow node, and corresponding to left-bank and right-bank catchment faces. Hydrologically, the flowpath is a line describing a moving particle of water. 

Through generalization, HY_Flowpath inherits the &lt;i&gt;shape&lt;/i&gt; and the &lt;i&gt;realizedCatchment&lt;/i&gt; properties. The optional &lt;i&gt;shape&lt;/i&gt; of the flowpath is usually a single curve.</documentation>
    </annotation>
  </element>
  <complexType name="HY_FlowPathType">
    <complexContent>
      <extension base="hyf:HY_CatchmentRealizationType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HY_FlowPathPropertyType">
    <sequence minOccurs="0">
      <element ref="hyf:HY_FlowPath"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="HY_HydroFeature" substitutionGroup="gml:AbstractFeature" type="hyf:HY_HydroFeatureType">
    <annotation>
      <documentation>basic feature to reflect the properties that all hydrologic features have.</documentation>
    </annotation>
  </element>
  <complexType name="HY_HydroFeatureType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="name">
            <annotation>
              <documentation>name given to the hydrologic feature in cultural, political or historical context.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="hyf:HY_HydroFeatureName"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HY_HydroFeaturePropertyType">
    <sequence minOccurs="0">
      <element ref="hyf:HY_HydroFeature"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="HY_HydroFeatureName" substitutionGroup="gml:AbstractFeature" type="hyf:HY_HydroFeatureNameType">
    <annotation>
      <documentation>pattern to handle cultural, political and historical variability of names. This supports the assignment of a referenceable name for all or parts of a hydrologic feature without necessarily having a formal model for the naming.</documentation>
    </annotation>
  </element>
  <complexType name="HY_HydroFeatureNameType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="name" type="string">
            <annotation>
              <documentation>indicates whether the name applies to a part of feature only or not, using the Boolean value type</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="namesPart" type="boolean">
            <annotation>
              <documentation>indicates whether the name applies to a part of feature only or not, using the Boolean value type</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="variantSpelling" type="boolean">
            <annotation>
              <documentation>indicates whether the name is a variant spelling or not using the Boolean value type.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="preferredBy" type="string">
            <annotation>
              <documentation>specifies that the name is the preferred name according to the named entity. The CI_Responsibility type may be used to further structure the information about the responsible party and their role.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="usage" type="hyf:HY_NameUsageType">
            <annotation>
              <documentation>expresses the kind of name usage in a specific community, using a term from the HY_NameUsage code list, or a controlled vocabulary. Alternative code lists may be used but should be related to the terms in the HY_NameUsage codelist using an appropriate formalism.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HY_HydroFeatureNamePropertyType">
    <sequence minOccurs="0">
      <element ref="hyf:HY_HydroFeatureName"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="HY_HydroLocation" substitutionGroup="gml:AbstractFeature" type="hyf:HY_HydroLocationType">
    <annotation>
      <documentation>ReferenceLocation: The HY_HydroLocation feature type (Figure 35) conceptualizes the idea that a hydro nexus can be realized by practically any feature of interest. The hydro nexus concept is used to define the hydrologic determination of a catchment but, like the catchment concept, does not have inherent realization(s). Any hydrologically significant feature that can be identified as (said to be) the outlet of a catchment may realize the hydro nexus. Typically, this will be a permanent, stable location that is fixed and/or referenced by coordinates. 

Landmarks such as confluences, points corresponding to vertical sections, or the position of a monitoring station on a river are typical realizations of the hydro nexus. Other kinds of hydro nexus realizations that don't carry normal surface water characteristics as defined in this standard, e.g. a spring where groundwater enters the surface, an arbitrary point projected onto the surface, or a nexus that collects many disjoint locations may use or specialize the general HY_HydroLocation type. 

Topologically, the HY_HydroLocation should be understood to be the boundary of the corresponding catchment, and always of lower topological dimension than the catchment. Even though the topological realization of a hydro nexus is typically as a node between catchment edges, a nexus realization may also have any geometric representation, including a single point.

In many cases, HY_HydroLocations are known but corresponding catchments and hydro nexuses are not defined. For example, stream gages that are part of a catchment dataset whose hydro nexus features are realized by confluences. Both the stream gages and confluences are HY_HydroLocations, but the stream gages’ hydro nexus features are not defined. Using this concept, HY_HydroLocation is expected to be used to link between datasets that have catchments delineated for different HY_HydroLocations.

HY_HydroLocation carries two attributes: &lt;i&gt;shape&lt;/i&gt; and &lt;i&gt;hydroLocationType&lt;/i&gt;. It has &lt;i&gt;referencedPosition&lt;/i&gt; and &lt;i&gt;realizedNexus&lt;/i&gt; associations implying the hydro-complex&lt;i&gt; &lt;/i&gt;feature collection.</documentation>
    </annotation>
  </element>
  <complexType name="HY_HydroLocationType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="shape" type="gml:GeometryPropertyType">
            <annotation>
              <documentation>geometric representation of the realized nexus.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="realizedNexus" type="hyf:HY_HydroNexusPropertyType">
            <annotation>
              <documentation>identifies the one and only one nexus that is realized by a particular feature. Referencing the hydrologic complex containing the hydro nexus and all of its realizations, supports an arbitrary feature of interest to be recognized as outlet of a catchment, and to be placed using the river referencing defined in this standard.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">hyf:nexusRealization</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="referencedPosition" type="hyf:HY_IndirectPositionPropertyType">
            <annotation>
              <documentation>position expressed as measured or otherwise described distance from a known, already located referent. Commonly, this is used to locate a feature of interest such as a hydrometric station in relation to a catchment's outlet fixed by co-ordinates.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">hyf:referenceLocation</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="hydroLocationType" type="hyf:HY_HydroLocationTypeType">
            <annotation>
              <documentation>expresses the type of the realized nexus, using a term from the HY_HydroLocationType code list, or a controlled vocabulary. Alternative code lists may be used but should be related to the terms in this code list using an appropriate formalism.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HY_HydroLocationPropertyType">
    <sequence minOccurs="0">
      <element ref="hyf:HY_HydroLocation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="HY_HydroLocationTypeType">
    <annotation>
      <documentation>terms identifying a Hydro Location determined to realize the conceptual nexus.

If required, an implementation should use terms from this code list, defined specifically to conform to a terminology common in the hydrology domain. Note that alternative code lists may be used but should be related to the terms in but should be related to the terms in this code list using an appropriate formalism.

&lt;b&gt;
&lt;/b&gt;</documentation>
    </annotation>
    <union memberTypes="hyf:HY_HydroLocationTypeEnumerationType hyf:HY_HydroLocationTypeOtherType"/>
  </simpleType>
  <simpleType name="HY_HydroLocationTypeEnumerationType">
    <annotation>
      <documentation>terms identifying a Hydro Location determined to realize the conceptual nexus.

If required, an implementation should use terms from this code list, defined specifically to conform to a terminology common in the hydrology domain. Note that alternative code lists may be used but should be related to the terms in but should be related to the terms in this code list using an appropriate formalism.

&lt;b&gt;
&lt;/b&gt;</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="barrage">
        <annotation>
          <documentation>barrier across a stream provided with a series of gates or other control mechanisms to control the water-surface level upstream, to regulate the flow or to divert water supplies into a canal.
&lt;i&gt;(Source: barrage. (2010). In International Glossary of Hydrology Online.Retrieved May 5, 2010, from http://webworld.unesco.org/water/ihp/db/glossary/glu/EN/GF0110EN.HTM)&lt;/i&gt;</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bifurcation">
        <annotation>
          <documentation>division of a stream into two branches.
&lt;i&gt;(Source: bifurcation. (2010). In International Glossary of Hydrology Online.Retrieved May 5, 2010, from http://webworld.unesco.org/water/ihp/db/glossary/glu/EN/GF0131EN.HTM)&lt;/i&gt;</documentation>
        </annotation>
      </enumeration>
      <enumeration value="catchmentOutlet">
        <annotation>
          <documentation>common outlet for the runoff drained by the catchment.
&lt;i&gt;(Source: confluence. (2010). In International Glossary of Hydrology Online.Retrieved May 5, 2010, from http://webworld.unesco.org/water/ihp/db/glossary/glu/EN/GF0235EN.HTM)&lt;/i&gt;</documentation>
        </annotation>
      </enumeration>
      <enumeration value="confluence">
        <annotation>
          <documentation>joining, or the place of junction, of two or more streams.
&lt;i&gt;(Source: confluence. (2010). In International Glossary of Hydrology Online.Retrieved May 5, 2010, from http://webworld.unesco.org/water/ihp/db/glossary/glu/EN/GF0235EN.HTM)&lt;/i&gt;</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dam">
        <annotation>
          <documentation>barrier constructed across a valley for impounding water or creating a reservoir. 
&lt;i&gt;(Source: dam. (2010). In International Glossary of Hydrology Online.Retrieved May 5, 2010, from http://webworld.unesco.org/water/ihp/db/glossary/glu/EN/GF0285EN.HTM)&lt;/i&gt;</documentation>
        </annotation>
      </enumeration>
      <enumeration value="diversionOfWater">
        <annotation>
          <documentation>transfer of water from one watercourse to another, such watercourses being either natural or man-made. 
&lt;i&gt;(Source: diversion of water (2010). In International Glossary of Hydrology Online.Retrieved May 5, 2010, from http://webworld.unesco.org/water/ihp/db/glossary/glu/EN/GF0349EN.HTM)&lt;/i&gt;</documentation>
        </annotation>
      </enumeration>
      <enumeration value="extractionWell">
        <annotation>
          <documentation>shaft or hole sunk, dug or drilled into the earth to extract water. 
&lt;i&gt;(Source: well. (2010). In International Glossary of Hydrology Online.Retrieved May 5, 2010, from http://webworld.unesco.org/water/ihp/db/glossary/glu/EN/GF1397EN.HTM)&lt;/i&gt;</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fork">
        <annotation>
          <documentation>Place where a stream divides into two or more streams, contrary to confluence where two or more streams flow together to form a larger stream. 
&lt;i&gt;
&lt;/i&gt;&lt;i&gt;(Source: fork. (2010). In International Glossary of Hydrology Online.Retrieved May 5, 2010, from http://webworld.unesco.org/water/ihp/db/glossary/glu/EN/GF0499EN.HTM)&lt;/i&gt;</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hydrometricStation">
        <annotation>
          <documentation>station at which data on water in rivers, lakes or reservoirs are obtained on one or more of the following elements: stage, streamflow, sediment transport and deposition, water temperature and other physical properties of water, characteristics of ice cover and chemical properties of water.
&lt;i&gt;(Source: hydrometric station. (2010). In International Glossary of Hydrology Online.Retrieved May 5, 2010, from http://webworld.unesco.org/water/ihp/db/glossary/glu/EN/GF0627EN.HTM)&lt;/i&gt;</documentation>
        </annotation>
      </enumeration>
      <enumeration value="infiltrationWell">
        <annotation>
          <documentation>recharge well that is sunk only into the unsaturated zone distinguished from an injection well.
&lt;i&gt;(Source: infiltrationWell. (2010). In International Glossary of Hydrology Online.Retrieved May 5, 2010, from http://webworld.unesco.org/water/ihp/db/glossary/glu/EN/GF0670EN.HTM)&lt;/i&gt;</documentation>
        </annotation>
      </enumeration>
      <enumeration value="injectionWell">
        <annotation>
          <documentation>Recharge well that is sunk into an aquifer and used for direct injection of water distinguished from an infiltration well. 
&lt;i&gt;(Source: injectionWell. (2010). In International Glossary of Hydrology Online.Retrieved May 5, 2010, from http://webworld.unesco.org/water/ihp/db/glossary/glu/EN/GF0677EN.HTM)&lt;/i&gt;</documentation>
        </annotation>
      </enumeration>
      <enumeration value="inletStructure">
        <annotation>
          <documentation>structure admitting water supplies from the source or through an intake structure built upstream. 
&lt;i&gt;(Source: inlet. (2010). In International Glossary of Hydrology Online.Retrieved May 5, 2010, from http://webworld.unesco.org/water/ihp/db/glossary/glu/EN/GF0679EN.HTM)&lt;/i&gt;</documentation>
        </annotation>
      </enumeration>
      <enumeration value="intake">
        <annotation>
          <documentation>structure or site, the purpose of which is to control, regulate, divert, and admit water directly from the source, through an inlet built upstream. 
&lt;i&gt;(Source: intake. (2010). In International Glossary of Hydrology Online.Retrieved May 5, 2010, from http://webworld.unesco.org/water/ihp/db/glossary/glu/EN/GF0684EN.HTM)&lt;/i&gt;</documentation>
        </annotation>
      </enumeration>
      <enumeration value="outletStructure">
        <annotation>
          <documentation>opening (structure) through which water flows out or is extracted from a reservoir or stream. 
&lt;i&gt;(Source: outlet. (2010). In International Glossary of Hydrology Online.Retrieved May 5, 2010, from http://webworld.unesco.org/water/ihp/db/glossary/glu/EN/GF0868EN.HTM)&lt;/i&gt;</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ponor">
        <annotation>
          <documentation>hole or opening in the bottom or side of a depression where a surface stream or lake flows either partially or completely underground into a karst groundwater system.
&lt;i&gt;(Source: ponor. (2010). In International Glossary of Hydrology Online.Retrieved May 5, 2010, from http://webworld.unesco.org/water/ihp/db/glossary/glu/EN/GF0925N.HTM)&lt;/i&gt;</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pourPoint">
        <annotation>
          <documentation>catchment outlet specifically defined to delineate a catchment upslope from that point.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rapids">
        <annotation>
          <documentation>reach of a stream where the flow is very swift and shooting, and where the surface is usually broken by obstructions, but has no actual waterfall or cascade. 
&lt;i&gt;(Source: rapids. (2010). In International Glossary of Hydrology Online.Retrieved May 5, 2010, from http://webworld.unesco.org/water/ihp/db/glossary/glu/EN/GF0980EN.HTM)&lt;/i&gt;</documentation>
        </annotation>
      </enumeration>
      <enumeration value="referenceClimatologicalStation">
        <annotation>
          <documentation>climatological station the data of which are intended for the purpose of determining climatic trends. This requires long periods (not less than thirty years) of homogeneous records, where man-made environmental changes have been and/or are expected to remain at a minimum. Ideally the records should be of sufficient length to enable the identification of secular changes of climate. (TR) 
&lt;i&gt;(Source: reference climatological station. (2010). In International Glossary of Hydrology Online.Retrieved May 5, 2010, from http://webworld.unesco.org/water/ihp/db/glossary/glu/EN/GF0998EN.HTM)&lt;/i&gt;</documentation>
        </annotation>
      </enumeration>
      <enumeration value="riverMouth">
        <annotation>
          <documentation>place of discharge of a river into a sea or a lake. 
&lt;i&gt;(Source: river mouth. (2010). In International Glossary of Hydrology Online.Retrieved May 5, 2010, from http://webworld.unesco.org/water/ihp/db/glossary/glu/EN/GF1043EN.HTM)&lt;/i&gt;</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sinkhole">
        <annotation>
          <documentation>place where water disappears underground in a limestone region. It generally implies water loss in a closed depression or blind valley. 
&lt;i&gt;(Source: sink hole. (2010). In International Glossary of Hydrology Online.Retrieved May 5, 2010, from http://webworld.unesco.org/water/ihp/db/glossary/glu/EN/GF1116EN.HTM)&lt;/i&gt;</documentation>
        </annotation>
      </enumeration>
      <enumeration value="source">
        <annotation>
          <documentation>origin: origin of river. 
&lt;i&gt;(Source: source. (2010). In International Glossary of Hydrology Online.Retrieved May 5, 2010, from http://webworld.unesco.org/water/ihp/db/glossary/glu/EN/GF1166EN.HTM)&lt;/i&gt;</documentation>
        </annotation>
      </enumeration>
      <enumeration value="spring">
        <annotation>
          <documentation>source: place where water flows naturally from a rock or soil onto land or into a body of surface water. 
&lt;i&gt;(Source: spring. (2010). In International Glossary of Hydrology Online.Retrieved May 5, 2010, from http://webworld.unesco.org/water/ihp/db/glossary/glu/EN/GF1185EN.HTM)&lt;/i&gt;</documentation>
        </annotation>
      </enumeration>
      <enumeration value="waterfall">
        <annotation>
          <documentation>vertical fall or the very steep descent of a stream of water. 
&lt;i&gt;(Source: waterfall. (2010). In International Glossary of Hydrology Online.Retrieved May 5, 2010, from http://webworld.unesco.org/water/ihp/db/glossary/glu/EN/GF1365EN.HTM)&lt;/i&gt;</documentation>
        </annotation>
      </enumeration>
      <enumeration value="weir">
        <annotation>
          <documentation>Overflow structure which may be used for controlling upstream water level or for measuring discharge or for both.
&lt;i&gt;(Source: weir. (2010). In International Glossary of Hydrology Online.Retrieved May 5, 2010, from http://webworld.unesco.org/water/ihp/db/glossary/glu/EN/GF1396EN.HTM)&lt;/i&gt;</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HY_HydroLocationTypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="HY_HydroNetwork" substitutionGroup="hyf:HY_CatchmentRealization" type="hyf:HY_HydroNetworkType">
    <annotation>
      <documentation>The &lt;b&gt;HY_HydroNetwork&lt;/b&gt; feature type realizes a catchment as a network of connected hydrologic features. Such a network realizes the hierarchical network of logically connected catchments contained in a larger catchment. It may be a sequence of flowpaths, an aggregate of catchment areas or a mesh of catchment divides. 

HY_HydroNetwork feature type specializes HY_CatchmentRealization. Through generalization it inherits the &lt;i&gt;shape&lt;/i&gt; and the &lt;i&gt;realizedCatchment&lt;/i&gt; properties, and carries the associations &lt;i&gt;flowpath&lt;/i&gt;, &lt;i&gt;catchmentDivide&lt;/i&gt; and &lt;i&gt;catchmentArea&lt;/i&gt;. The optional &lt;i&gt;shape&lt;/i&gt; of the is usually given through the individual geometry of the network parts.</documentation>
    </annotation>
  </element>
  <complexType name="HY_HydroNetworkType">
    <complexContent>
      <extension base="hyf:HY_CatchmentRealizationType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="catchmentDivide" type="hyf:HY_CatchmentDividePropertyType">
            <annotation>
              <documentation>catchment boundary that participates in the network.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="catchmentArea" type="hyf:HY_CatchmentAreaPropertyType">
            <annotation>
              <documentation>catchment area that participates in the network.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="flowpath" type="hyf:HY_FlowPathPropertyType">
            <annotation>
              <documentation>flowpath that participates in the network.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HY_HydroNetworkPropertyType">
    <sequence minOccurs="0">
      <element ref="hyf:HY_HydroNetwork"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="HY_HydroNexus" substitutionGroup="gml:AbstractFeature" type="hyf:HY_HydroNexusType">
    <annotation>
      <documentation>The HY_HydroNexus feature type (Figure 33) conceptualizes a hydrologically determined nexus of a corresponding catchment (Figure 26). The hydro nexus represents the place where a catchment interacts with another catchment, i.e. where the outflow of a contributing catchment becomes inflow into a receiving catchment. A catchment may receive flow from several upstream catchments or contribute flow to several downstream catchments through a single hydro nexus. Through shared identity, each hydro nexus feature may be associated with different realizations within a hydrologic complex given that each realization has the same hydrologic function or characteristics. This includes the topological realization as a node on the one-dimensional flowpath (edge) in terms of a topological 'boundary'. 

Placed topologically relative to a catchment which links inflow and outflow, a hydro nexus has a position relative to another hydro nexus that is 'fixed' in the network by the catchments it is associated with. Additionally, the union of catchment and hydro nexus(es) can be used to define a linear river reference system, where an inflow or outflow node is the origin and the flowpath realizing the catchment is the linear element along which a position can be determined.</documentation>
    </annotation>
  </element>
  <complexType name="HY_HydroNexusType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="receivingCatchment" type="hyf:HY_CatchmentPropertyType">
            <annotation>
              <documentation>identifies the catchment that receives flow from this hydro nexus. This allows connection of a catchment's inflow to an identified outflow and to determine its position through referencing the outflow.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">hyf:inflow</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="nexusRealization" type="hyf:HY_HydroLocationPropertyType">
            <annotation>
              <documentation>identifies a hydrologic feature which realizes the hydro nexus. A topological nexus realization is of lower dimension than the realization of the corresponding catchment. Example: an outflow node realizing the nexus would be of lower dimension than the flowpath edge realizing the contributing catchment.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">hyf:realizedNexus</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="contributingCatchment" type="hyf:HY_CatchmentPropertyType">
            <annotation>
              <documentation>identifies the catchment that contributes flow to this hydro nexus. This allows connection of a catchment's outflow to an identified inflow and to determine its position through referencing the inflow.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">hyf:outflow</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HY_HydroNexusPropertyType">
    <sequence minOccurs="0">
      <element ref="hyf:HY_HydroNexus"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="HY_IndirectPosition" substitutionGroup="gml:AbstractFeature" type="hyf:HY_IndirectPositionType">
    <annotation>
      <documentation>The HY_IndirectPosition feature type defines the location referenced along an axis, without the necessity of a geometric realization. Indirect position uses a catchment-specific reference system which defines the flowpath as the required linear element along which the position is determined. The indirect position is then expressed as the distance from the upstream and/or downstream end of the flowpath, or from a referent that is already located on that flowpath. 

The (indirect) position of an outflow node referenced along an upstream oriented flowpath can be expressed as the distance from an upstream inflow node located on that flowpath, while the (indirect) position of an inflow node referenced along a downstream oriented flowpath can be expressed as distance from a downstream outflow node located on the flowpath. An ‘intermediate’ position referencing known inflow and outflow nodes bounding a flowpath at both ends can be expressed as part of the distance along the entire flowpath, measured from the upstream end of an upstream flowpath, and/or from the downstream end of a downstream flowpath. A position referencing an already referenced location on the flowpath can be expressed as part of the distance along the entire flowpath, measured from the ‘located referent’.  

HY_IndirectPosition carries the &lt;i&gt;distanceExpression&lt;/i&gt;, and &lt;i&gt;distanceDescription&lt;/i&gt; attributes, and has &lt;i&gt;linearElement&lt;/i&gt;, &lt;i&gt;locatedReferent&lt;/i&gt; and a &lt;i&gt;referenceLocation &lt;/i&gt;associations. A &lt;i&gt;point-referent&lt;/i&gt; constraint emphasizes the topological relationship between the linear element and point representation of the reference location; a &lt;i&gt;measure-along-flowpath&lt;/i&gt; constraint defines the flowpath as the linear element to be used whenever a position is expressed as a distance from a referent.</documentation>
    </annotation>
  </element>
  <complexType name="HY_IndirectPositionType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="linearElement" type="hyf:HY_FlowPathPropertyType">
            <annotation>
              <documentation>identifies a flowpath used as the linear element along which a position is assigned to a hydro-location, or any feature of interest.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="locatedReferent" type="hyf:HY_HydroLocationPropertyType">
            <annotation>
              <documentation>identifies an already referenced location such as a catchment outlet relative to which a position may be assigned to a feature of interest.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="referenceLocation" type="hyf:HY_HydroLocationPropertyType">
            <annotation>
              <documentation>identifies the permanent reference location, usually an existing inflow or outflow hydro nexus relative to which a position is assigned to a hydro location feature of interest.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">hyf:referencedPosition</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="distanceExpression" type="hyf:HY_DistanceFromReferentPropertyType">
            <annotation>
              <documentation>absolute or interpolative value of the distance from the feature being used as a reference, including an indication of accuracy and precision of the absolute value. An implementation may use the HY_DistanceFromReferent (data type) referencing basic types. Alternatively, the types described in ISO 19103: Conceptual Schema may be used.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="distanceDescription" type="hyf:HY_DistanceDescriptionType">
            <annotation>
              <documentation>term describing the distance from the feature being used as a reference. An implementation may use the HY_DistanceDescription code list. Alternatively, the types described in ISO 19103: Conceptual Schema may be used.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HY_IndirectPositionPropertyType">
    <sequence minOccurs="0">
      <element ref="hyf:HY_IndirectPosition"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="HY_InteriorCatchment" substitutionGroup="hyf:HY_Catchment" type="hyf:HY_InteriorCatchmentType">
    <annotation>
      <documentation>The HY_InteriorCatchment feature type (Figure 32) specializes the general HY_Catchment class as a catchment which is generally not connected to other catchments. This class describes the interior catchment as a catchment enveloped by other catchments to which it may temporarily contribute. While the interior catchment concept precludes flow to neighboring surface catchments, holistically it is a candidate for establishing connections to groundwater or atmospheric systems.</documentation>
    </annotation>
  </element>
  <complexType name="HY_InteriorCatchmentType">
    <complexContent>
      <extension base="hyf:HY_CatchmentType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HY_InteriorCatchmentPropertyType">
    <sequence minOccurs="0">
      <element ref="hyf:HY_InteriorCatchment"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="HY_NameUsageType">
    <annotation>
      <documentation>terms used to indicate the type of name usage.

If required, an implementation should use terms from this code list, defined specifically to conform to a terminology common in the hydrology domain. Note that alternative code lists may be used but should be related to the terms in but should be related to the terms in this code list using an appropriate formalism.</documentation>
    </annotation>
    <union memberTypes="hyf:HY_NameUsageEnumerationType hyf:HY_NameUsageOtherType"/>
  </simpleType>
  <simpleType name="HY_NameUsageEnumerationType">
    <annotation>
      <documentation>terms used to indicate the type of name usage.

If required, an implementation should use terms from this code list, defined specifically to conform to a terminology common in the hydrology domain. Note that alternative code lists may be used but should be related to the terms in but should be related to the terms in this code list using an appropriate formalism.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="conventional">
        <annotation>
          <documentation>accepted, used, or practiced by most people ('agreed by convention').</documentation>
        </annotation>
      </enumeration>
      <enumeration value="historical">
        <annotation>
          <documentation>restricted to or based on fact in history.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="official">
        <annotation>
          <documentation>ordered or allowed by those in authority.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vernacular">
        <annotation>
          <documentation>used in or suitable for speech, usually not used in formal writing.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HY_NameUsageOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
